<%= link_to "Home", root_path %>
<%= link_to "New", new_auction_path %>
<%= link_to "Back", root_path %>

<ul class="nav navbar-nav">
  <% if user_signed_in? %>



      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
